<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= appname %></title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="welcome">
      <h1>Hello, <%= appname %></h1>
      <p>We've created generator to speed up project starting process.</p>
      <p>Generator configured project for using:</p>
      <ul>
        <li>gulp</li>
        <li>sass/scss + compass</li>
      </ul>
      <p>We've also added<code>.editorconfig</code> and<code>.jshintrc</code> to simplify your team collaboration.</p>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>